:root{
    --vp-c-accent: #3333FF;
    --vp-c-bg: #F2F0EE;
    --vp-c-accent-bg: #3333FF;
    --vp-c-accent-hover: #4274FF;
    .vp-hero-action-button.secondary:hover {
        color: var(--vp-c-accent-hover);
        border-color: var(--vp-c-accent-hover);
      }
}

[data-theme='dark'] {
    --vp-c-accent: #6E9EFF;
    --vp-c-bg: #0c0c0c;
    --vp-c-accent-bg: #6E9EFF;
    --vp-c-accent-hover: #BBD0FF;
    --vp-c-gutter: #313A4E;
    .note{
        border: 1px solid #3f3f3f;
    }
    
    .warning{
        border: 1px solid #4b4417
    }
    
    .info{
        border: 1px solid #3f4b4e;
    }

    .tip{
        border: 1px solid #2e483c;
    }

    .caution{
        border: 1px solid #472f2f;
    }

    .details{
        border: 1px solid #3f3f3f;
    }
}
  
[data-theme='light'] {
    --vp-c-accent: #3333ff;
    --vp-c-bg: #F2F0EE;
    --vp-c-gutter: #CCCCE8;
    .note{
        border: 1px solid #cdcdcd;
    }
    
    .warning{
        border: 1px solid #e5d25a
    }
    
    .info{
        border: 1px solid #afd4dc;
    }

    .tip{
        border: 1px solid #afdcc6;
    }

    .caution{
        border: 1px solid #dcafaf;
    }

    .details{
        border: 1px solid #cdcdcd;
    }
}

body{
    text-underline-offset: 4px;
}

.route-link { 
    display: flex;
    align-items: center;

    .vp-site-name{
        font-weight: 800;
        //color: var(--vp-c-accent);
    }

    .vp-site-logo {
        margin-right: 32px; // Hier kannst du den Abstand anpassen
        max-height: 28px;
    }
}

h1, h1 > a{
    font-weight: 800;
}

h2, h2 > a{
    font-weight: 700;
}

h3, h3 > a{
    font-weight: 600;
}

h2{
    padding-bottom: .55em;
}

.theme-default-content h1, .theme-default-content h2, .theme-default-content h3, .theme-default-content h4, .theme-default-content h5, .theme-default-content h6{
    margin-top: calc(1.2rem - var(--header-offset));
    margin-bottom: 1.2rem;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: 1em;
    font-weight: 700;
    line-height: 1;
    padding: 8px 12px;
    white-space: nowrap;
  }